
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/web-sporsalonu/aaa.css" />
    <title>SPOR SALONU SİTESİ</title>
</head>
<body>
    <nav>
        <div class="nav__logo">
            <a href="#"><img src="~/web-sporsalonu/dumbbell.png" alt="logo" /></a>
        </div>
        <ul class="nav__links">
            <li class="link"><a href="#">Anasayfa</a></li>
            <li class="link"><a href="programlar.html">Program</a></li>
            <li class="link"><a href="egitmen.html">Eğitmenlerimiz</a></li>
            <li class="link"><a href="odeme_islemi.html">Ödemeler</a></li>
            <li class="link"><a href="hakkimizda.html">Hakkımızda</a></li>

        </ul>
        <a href="giris.html">
            <button class="btn">GİRİŞ YAP</button>
        </a>
        <a href="kayitol.html">
            <button class="btn">KAYIT OL</button>
        </a>

    </nav>

    <header class="section__container header__container">
        <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h4>ŞEHİRDEKİ EN İYİ FİTNESS</h4>
            <h1><span>VÜCUT</span> ŞEKLİNİZİ YAPIN </h1>
            <p>
                Potansiyelinizi açığa çıkarın ve daha güçlü bir yolculuğa çıkın,
                daha zinde ve kendinden daha eminsin. Şimdi 'Vücut Şeklinizi Yapın' için kaydolun
                ve vücudunuzun yapabileceği inanılmaz dönüşüme tanık olun!
            </p>
            <a href="kayitol.html" class="btn">Aramıza Katıl</a>
        </div>
    </header>


    <section class="section__container explore__container">
        <div class="explore__header">
            <h2 class="section__header">PROGRAMIMIZI KEŞFEDİN</h2>
            <div class="explore__nav">
            </div>
        </div>
        <div class="explore__grid">
            <div class="explore__card">
                <span><i class="ri-boxing-fill"></i></span>
                <h4>Kuvvet</h4>
                <p>
                    Fiziksel, zihinsel ve duygusal çeşitli boyutlarını incelerken gücün özünü kucaklayın.
                </p>
                <a href="agirlik.html">Buraya Tıkla <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <span><i class="ri-heart-pulse-fill"></i></span>
                <h4>Fiziksel Uygunluk</h4>
                <p>
                    Sağlığı, gücü, esnekliği ve genel refahı iyileştiren bir dizi faaliyeti kapsar.
                </p>
                <a href="yoga.html">Buraya Tıkla <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <span><i class="ri-run-line"></i></span>
                <h4>Yağ Yakma</h4>
                <p>
                    Egzersiz rutinleri ve uzman rehberliğinin bir kombinasyonu sayesinde,
                    hedeflerinize ulaşmanız için sizi güçlendireceğiz.
                </p>
                <a href="kardiyo.html">Buraya Tıkla <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <span><i class="ri-shopping-basket-fill"></i></span>
                <h4>Kilo alımı</h4>
                <p>
                    Bireyler için tasarlanan programımız, sürdürülebilir bir şekilde kilo almak için etkili bir yaklaşım sunmaktadır.
                </p>
                <a href="kayitol.html">Buraya Tıkla <i class="ri-arrow-right-line"></i></a>
            </div>
        </div>
    </section>

    <section class="section__container class__container">
        <div class="class__image">
            <span class="bg__blur"></span>
            <img src="~/web-sporsalonu/agirlik1.jpg" alt="class" class="class__img-1" />
        </div>
        <div class="class__content">
            <h2 class="section__header">Senin programın burada</h2>
            <p>
                "Senin programın burada,"
                uzman ve motivasyonel eğitmenlerden oluşan ekibimiz tarafından yönetilen,
                yüksek enerjili ve sonuç odaklı bir oturumdur.
                Kardiyo, kuvvet antrenmanı ve işlevsel egzersizlerin mükemmel bir karışımını sunar.
                Her sınıf, sizi hem meşgul etmek hem de zorlamak için özenle hazırlanır,
                böylece fitness çabalarınızda hiçbir zaman bir platoya ulaşmazsınız.


            </p>
        </div>
    </section>

    <section class="section__container join__container">
        <h2 class="section__header">NEDEN BİZE KATILIYORSUN ?</h2>
        <p class="section__subheader">
            Farklı üyelik tabanımız, arkadaş edinebileceğiniz ve motive olabileceğiniz
            samimi ve destekleyici bir atmosfer yaratır.
        </p>
        <div class="join__image">
            <img src="assets/join.jpg" alt="Join" />
            <div class="join__grid">
                <div class="join__card">
                    <span><i class="ri-user-star-fill"></i></span>
                    <div class="join__card__content">
                        <h4>Kişisel Antrenör</h4>
                        <p>Uzman Kişisel Eğitmenlerimizle potansiyelinizin kilidini açın.</p>
                    </div>
                </div>
                <div class="join__card">
                    <span><i class="ri-vidicon-fill"></i></span>
                    <div class="join__card__content">
                        <h4>Uygulama Oturumları</h4>
                        <p>Antrenman seanslarıyla zindeliğinizi yükseltin.</p>
                    </div>
                </div>
                <div class="join__card">
                    <span><i class="ri-building-line"></i></span>
                    <div class="join__card__content">
                        <h4>İyi yönetim</h4>
                        <p>Fitness başarınız için destekleyici yönetim.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container price__container">
        <h2 class="section__header">FİYATLANDIRMA PLANIMIZ</h2>
        <p class="section__subheader">
            Fiyatlandırma planımız, her biri farklı tercihlere ve zindelik isteklerine uyacak şekilde uyarlanmış
            çeşitli üyelik katmanlarıyla birlikte gelir.
        </p>
        <div class="price__grid">
            <div class="price__card">
                <div class="price__card__content">
                    <h4>Basit Plan</h4>
                    <h3>999₺</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Akıllı egzersiz planı
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Evde egzersizler
                    </p>
                </div>
                <a href="odeme_islemi.html">
                    <button class="btn price__btn">Satın Al</button>
                </a>
            </div>
            <div class="price__card">
                <div class="price__card__content">
                    <h4>Normal plan</h4>
                    <h3>1899₺</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Profesyonel Hocalarla Antrenman
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Akıllı egzersiz planı
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Evde egzersizler
                    </p>
                </div>
                <a href="odeme_islemi.html">
                    <button class="btn price__btn">Satın Al</button>
                </a>
            </div>
            <div class="price__card">
                <div class="price__card__content">
                    <h4>Güçlü Plan</h4>
                    <h3>2699₺</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>

                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Profesyonel Hocalarla Birebir Antrenman
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Özel Spor Ve Beslenme Programı
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Kişisel Eğitim
                    </p>
                </div>
                <a href="odeme_islemi.html">
                    <button class="btn price__btn">Satın Al</button>
                </a>
            </div>
        </div>
    </section>



    <footer style="background-color: #111010; padding: 10px 0; text-align: center; font-size: 14px; color: white; border: 2px solid orange;">
        <div class="container">
            <p>&copy; 2024 Spor Salonu Üye Yönetim Sistemi. Tüm hakları saklıdır.</p>
            <p>İletişim: info@sporsalonu.com | Telefon: 123-456-7890</p>
        </div>
    </footer>

</body>
</html>




